/* Styles for IT 262 P1: Temperature Conversion */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Voltaire', sans-serif;
}

body {
    background: lightblue;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

legend {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    
}

/* form styles */
fieldset {
    padding: 10px;
    width: 400px;
    margin: 20px auto;
    border: 2px solid black;
}

p {
    display: block;
    margin-bottom: 5px;
}

.temp {
    text-align: center;
    border: 2px solid black;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
}

.error {
    display: block;
    color: red;
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
    text-align: center;
}

.button p {
    display: inline-block;
    padding: 5px;
}

.convert {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 5px 2.5px 2.5px rgb(65, 64, 64);
  cursor: pointer;
}

.reset {
  text-decoration: none;
  background-color: red; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 5px 2.5px 2.5px rgb(65, 64, 64);
}

/*********************** FOOTER **********************************/
footer {
  line-height: 50px;
  clear: both;
  text-align: center;
}

footer li {
  list-style-type: none;
  margin-left: 20px;
  display: inline;
}

footer a {
  text-decoration: none;
  color: black;
  transition: ease-in-out .2s;
}

footer a:hover {
  color: red;  
}